{:itonami.blueprint/id "cloud-itonami-3030"
 :itonami.blueprint/name "Aircraft and Aerospace Manufacturing Enablement"
 :itonami.blueprint/isic-rev5 "3030"
 :itonami.blueprint/domain :manufacturing/aerospace
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:supply-resilience :airworthiness :industrial-jobs]
 :itonami.blueprint/governor :aerospace-manufacturing-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :cae :cfd :dmn :bpmn :audit-ledger :optimization]
 :itonami.blueprint/status :public-oss}
