{:kotoba.app/id "cloud.itonami.isic-3030", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic6gfeo4btcr2a2x2dfoend354xipbijtiyshfnzgq72bko5ammfi", :kotoba.app/embed-url "ipfs://bafkreic6gfeo4btcr2a2x2dfoend354xipbijtiyshfnzgq72bko5ammfi", :published {:archive "https://kotobase.net/ipfs/bafkreic6gfeo4btcr2a2x2dfoend354xipbijtiyshfnzgq72bko5ammfi", :size 74837, :put-status 201, :get-status 200, :at "2026-08-15T13:35:59.394Z"}}
